# =====================
# IntelliJ IDEA
# =====================
.idea/
*.iml
*.ipr
*.iws
out/

# =====================
# Maven
# =====================
target/
*.log

# =====================
# Gradle (por si acaso)
# =====================
.gradle/
build/

# =====================
# Eclipse
# =====================
.project
.classpath
.settings/

# =====================
# NetBeans
# =====================
/nbproject/
/dist/
/nbbuild/
/nbdist/
/.nb-gradle/

# =====================
# SO
# =====================
.DS_Store
Thumbs.db

# =====================
# Otros
# =====================
*.tmp
*.bak
*.swp
