server:
  port: 8080

spring:
  datasource:
    # Persistencia en fichero (se creará en la raíz del proyecto: ./caixabank_db.mv.db)
    # Evita fallos si la carpeta ./data no existe en Windows.
    url: jdbc:h2:file:./caixabank_db;MODE=PostgreSQL;AUTO_SERVER=TRUE;DB_CLOSE_DELAY=-1;
    driverClassName: org.h2.Driver
    username: sa
    password: ""

  jpa:
    hibernate:
      ddl-auto: update
    # Dialecto explícito para evitar depender de metadata en el arranque
    database-platform: org.hibernate.dialect.H2Dialect
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  h2:
    console:
      enabled: true
      path: /h2-console
